.drawer-item {
  display: block;
  padding: 14px 20px;
  font-weight: 500;
  text-decoration: none;
  color: #222;
  cursor: pointer;
}

.drawer-item:hover {
  background: #f1f3f5;
}

.drawer-sub {
  display: block;
  padding: 10px 20px;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}