{% extends "base.html" %}

<!-- Page Title -->
{% block title %} Honeycomb | Gpon Automation {% endblock title %}

<!-- Content -->
{% block content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="height: 80vh"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-6 col-lg-6 col-xl-5">
        <div class="card shadow p-4">
          <h5 class="card-title fw-bold mb-4">Conversor gpon</h5>

          <form>
            <div class="mb-3">
              <label for="file" class="form-label">Arquivo</label>
              <input type="file" class="form-control" id="file" name="file" />
            </div>

            <div class="d-flex mb-3 align-items-end">
              <div class="flex-grow-1 me-2">
                <label for="port" class="form-label">Porta</label>
                <input
                  type="text"
                  class="form-control"
                  id="port"
                  name="port"
                  placeholder="Ex: 1/1/1"
                />
              </div>

              <button id="startBtn" type="button" class="btn btn-dark">
                Converter
              </button>
            </div>
          </form>

          <p id="errorBox" class="text-danger mb-3"></p>

          <div class="progress">
            <div
              id="progressBar"
              class="progress-bar text-bg-warning"
              role="progressbar"
              style="width: 0%"
            >
              0%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import ky from "https://cdn.jsdelivr.net/npm/ky@1.7.5/+esm";

  const file = document.getElementById("file");
  const port = document.getElementById("port");
  const startBtn = document.getElementById("startBtn");
  const errorBox = document.getElementById("errorBox");
  const progressBar = document.getElementById("progressBar");

  startBtn.addEventListener("click", async (e) => {
    e.preventDefault();

    try {
      resetAll();
      startBtn.disabled = true;

      const response = await startTask();

      const result = await getResult(response.task_id);

      if (result) {
        downloadTxt(result);
      }
    } catch (err) {
      if (err.response) {
        const response = await err.response.json();
        errorBox.textContent = response.error;
      }
    } finally {
      startBtn.disabled = false;
    }
  });

  function resetAll() {
    errorBox.textContent = "";

    progressBar.style.width = "0%";
    progressBar.textContent = "0%";
  }

  async function startTask() {
    const formData = new FormData();
    formData.append("file", file.files[0]);
    formData.append("port", port.value);

    const data = await ky
      .post("{% url 'gpon_conversor' %}", {
        body: formData,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      })
      .json();

    return data;
  }

  async function getProgress(taskID) {
    const data = await ky.get(`/progress/${taskID}/`).json();
    return data;
  }

  function sleep(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function getResult(taskID) {
    let attempts = 0;
    const maxAttempts = 10;

    let result = "";
    let progress = 0;

    while (progress < 100 && attempts < maxAttempts) {
      try {
        let response = await getProgress(taskID);

        if (response.template) {
          result = response.template;
        }

        progress = response.progress;

        // Filling Progress Bar
        progressBar.style.width = progress + "%";
        progressBar.textContent = progress + "%";
      } catch (err) {
        console.log(err);
      }

      attempts++;
      await sleep(1000);
    }

    return result;
  }

  function downloadTxt(content) {
    const blob = new Blob([content], { type: "text/plain;charset=utf-8;" });

    const url = URL.createObjectURL(blob);

    const link = document.createElement("a");
    link.href = url;
    link.download = "result.txt";

    document.body.appendChild(link);
    link.click();

    document.body.removeChild(link);
    URL.revokeObjectURL(url);
  }
</script>
{% endblock %}
