{% extends 'base.html' %}

<!-- Page Title -->
{% block title %} Honeycomb | Home {% endblock title %}

<!-- Content -->
{% block content %}
<div
  class="d-flex justify-content-center align-items-center"
  style="height: 80vh"
>
  <h2 id="welcome-text" class="fw-bold"></h2>
</div>

<script>
  const text = "Bem vindo ao Honeycomb";
  let i = 0;

  function typeWriter() {
    if (i < text.length) {
      document.getElementById("welcome-text").innerHTML += text.charAt(i);
      i++;
      setTimeout(typeWriter, 120);
    }
  }

  typeWriter();
</script>
{% endblock %}
